<div class="container-fluid main-content">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 col-xs-3">
            <img ng-if="playing" ng-src="{{ playing.imageUrl }}">
            <h6 ng-if="playing" class="pull-left">{{ playing.title }}<br>
                <small>{{ playing.author }}</small>
            </h6>
        </div>
        <div class="col-sm-9 col-md-10 col-xs-9 col-lg-10">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <audio media-player="audioPlayer" data-playlist="playlist" controls="controls" style="position: relative;">
                        </audio>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>