<div id="output"></div>
<div class="avatar"></div>
<div class="form-box">

    <form role="form" name="loginForm" id="login-nav" ng-submit="submit()" novalidate>

        <h2 class="form-signin-heading">Please sign in</h2>

        <div class="alert alert-danger" role="alert" ng-if="error">
            <strong>Incorrect credentials</strong>
        </div>


        <input type="text" class="form-control" id="username" placeholder="Username" name="username"
               ng-model="values.username" required>

        <input type="password" class="form-control" id="password" placeholder="Password" name="password"
               ng-model="values.password" required>


        <button type="submit" class="btn login btn-block" ng-disabled="submitting">Sign in</button>
        <button type="button" class="btn btn-primary btn-block" ng-disabled="submitting" ng-click="toggle()">Register</button>

    </form>
</div>