<div class="page-header clearfix pull-left">

    <img class="pull-left img-rounded" ng-src="{{ podcast.imageUrl }}">

    <h2 class="pull-left" style="margin-left: 20px;">
        {{ podcast.name }}
        <small style="font-weight: 200">{{ podcast.artist }}
        <br>
        <small>{{ podcast.newEpisodes }} unplayed episodes | Updated <span class="text-lowercase" style="text-transform: lowercase">{{ podcast.latest | amCalendar }}</span></small></small>
    </h2>

</div>

<div class="btn-group pull-right" role="toolbar">



    <div class="btn-group" dropdown is-open="options.isOpen">
        <button class="btn btn-lg btn-link dropdown-toggle pull-right" type="button">
            <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Mark all as heard</a></li>
            <li><a href="#">Mark all as un-heard</a></li>
            <li class="divider"></li>
            <li><a href="#">Download all</a></li>
            <li><a href="#">Delete all</a></li>
        </ul>
    </div>

    <button class="btn btn-lg btn-link pull-right"><span class="glyphicon glyphicon-play"></span></button>

    <button class="btn btn-lg btn-link pull-right">
        <span class="glyphicon glyphicon-info-sign"></span>
    </button>

</div>



<!--<div class="row">-->
    <!--<div class="col-md-6 col-lg-6 col-sm-6">-->
        <!--<button class="btn btn-block" ng-click="unsubscribe()">Unsubscribe</button>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-lg-6 col-sm-6">-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <!--<ul class="nav nav-tabs">-->
            <!--<li ui-sref-active="active"><a ui-sref="base.podcast.episodes({ slug: podcast.slug })">Episodes</a></li>-->
            <!--<li ui-sref-active="active"><a ui-sref="base.podcast.info({ slug: podcast.slug })">Information</a></li>-->
        <!--</ul>-->

        <div ui-view></div>
    </div>
</div>
