<!--<div class="btn-toolbar well well-sm">-->
    <!--<span class="label label-primary">{{ podcasts.length }} podcasts</span>-->
    <!--<div class="btn-group pull-right">-->
        <!--<a class="btn btn-sm btn-primary" ui-sref-active="active" ui-sref="base.podcasts.unplayed">-->
            <!--<span class="glyphicon glyphicon-list"></span>-->
        <!--</a>-->
        <!--<a class="btn btn-sm btn-primary"  ui-sref-active="active" ui-sref="base.podcasts.thumbnails">-->
            <!--<span class="glyphicon glyphicon glyphicon-picture"></span>-->
        <!--</a>-->
    <!--</div>-->

<!--</div>-->

<div class="row" ui-view></div>