<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li ui-sref-active="active">
                <a href="#" ui-sref="base.podcasts.thumbnails">My Podcasts</a>
            </li>
            <li ui-sref-active="active">
                <a href="#" ui-sref="base.podcasts.unplayed">All Unplayed</a>
            </li>
        </ul>
    </div>
</div>

<div class="row" ui-view></div>