<h2 class="sub-header">Search Results</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th><th>Title</th><th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results">
            <td><img ng-src="{{ result.artwork.100 }}"></td>
            <td>{{ result.name }}</td>
            <td><button type="button" ng-click="toggleSubscription(result)" class="btn btn-sm btn-primary" ng-class="{ 'active': isSubscribed(result) }">Subscribe</button></td>
        </tr>
        </tbody>
    </table>
</div>
