<div class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">cloudcatcher.io</a>
        </div>
        <div class="navbar-collapse collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="base.podcasts">Podcasts</a></li>
            </ul>
            <cc-search-form></cc-search-form>
            <form class="navbar-form navbar-right" role="form" cc-audio-controls>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon" ng-class="{
                        'glyphicon-pause': playing,
                        'glyphicon-play': !playing
                    }"></span>
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid main-content">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            <div class="btn-group btn-group-justified" style="margin-bottom: 12px;">
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-primary" tooltip="Sort by name" tooltip-placement="bottom"><span class="glyphicon glyphicon-sort-by-alphabet"></span></button>
                </div>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-primary" tooltip="Sort by newest" tooltip-placement="bottom"><span class="glyphicon glyphicon-sort-by-order"></span></button>
                </div>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-primary" tooltip="Sort by unheard" tooltip-placement="bottom"><span class="glyphicon glyphicon-sort-by-attributes"></span></button>
                </div>
            </div>

            <div class="list-group podcast-list-group">
                <a ng-repeat="podcast in podcasts | orderBy:podcast.newEpisodes:false" class="list-group-item" ui-sref-active="active" ui-sref="base.podcast.episodes({ slug: podcast.slug })">
                    <span class="badge" ng-show="podcast.newEpisodes">{{ podcast.newEpisodes }}</span><img ng-src="{{ podcast.artwork.30 }}" class="img-rounded"> {{ podcast.name }}
                    <p class="list-group-item-text text-muted" style="font-size: 13px;">{{ podcast.latest|amCalendar }}</p>
                </a>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view></div>
    </div>
</div>

<div class="footer" cc-footer playing="currentPlaying">
</div>